<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMSkillsNetworkBD0231ENCoursera2789-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

## Analyze a dataset using SparkSQL

Estimated time needed: **30** minutes

<p style='color: red'>The purpose of this lab is to show you how to use SparkML to persist a model and to load the persisted model.

## __Table of Contents__

<ol>
  <li>
    <a href="#Objectives">Objectives
    </a>
  </li>
  <li>
    <a href="#Datasets">Datasets
    </a>
  </li>
  <li>
    <a href="#Setup">Setup
    </a>
    <ol>
      <li>
        <a href="#Installing-Required-Libraries">Installing Required Libraries
        </a>
      </li>
      <li>
        <a href="#Importing-Required-Libraries">Importing Required Libraries
        </a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#Examples">Examples
    </a>
    <ol>
    <li>
      <a href="#Task-1---Create-a-spark-session">Task 1 - Create a spark session
      </a>
    </li>
    <li>
      <a href="#Task-2---Load-csv-file-into-a-dataframe">Task 2 - Load csv file into a dataframe
      </a>
    </li>
    <li>
      <a href="#Task-3---Create-a-temporary-view">Task 3 - Create a temporary view
      </a>
    </li>
    <li>
      <a href="#Task-4---Run-a-SQL-query-on-the-dataframe">Task 4 - Run a SQL query on the dataframe
      </a>
    </li>
    <li>
      <a href="#Task-5---Analyze-the-dataset">Task 5 - Analyze the dataset
      </a>
    </li>
    </ol>
  </li>
  <li>
    <a href="#Exercises">Exercises
    </a>
  </li>
  <ol>
    <li>
      <a href="#Exercise-1---Create-a-spark-session">Exercise 1 - Create a spark session
      </a>
    </li>
    <li>
      <a href="#Exercise-2---Load-csv-file-into-a-dataframe">Exercise 2 - Load csv file into a dataframe
      </a>
    </li>
    <li>
      <a href="#Exercise-3---Create-a-temporary-view">Exercise 3 - Create a temporary view
      </a>
    </li>
    <li>
      <a href="#Exercise-4---Run-a-SQL-query-on-the-dataframe">Exercise 4 - Run a SQL query on the dataframe
      </a>
    </li>
    <li>
      <a href="#Exercise-5---Analyze-the-dataset">Exercise 5 - Analyze the dataset
      </a>
    </li>
  </ol>
</ol>

## Objectives

After completing this lab you will be able to:

 - Load a csv dataset into a dataframe
 - Create a temporary view based on a dataframe
 - Run SQL queries on the view
 - Analyze a dataset using SparkSQL

## Datasets

In this lab you will be using dataset(s):

 - Modified version of car mileage dataset.  Original dataset available at https://archive.ics.uci.edu/ml/datasets/auto+mpg 
 - Modified version of diamonds dataset.  Original dataset available at https://www.openml.org/search?type=data&sort=runs&id=42225&status=active

----

## Setup

For this lab, we will be using the following libraries:

*   [`PySpark`](https://spark.apache.org/docs/latest/api/python/index.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMSkillsNetworkBD0231ENCoursera2789-2023-01-01) for connecting to the Spark Cluster

### Installing Required Libraries

Spark Cluster is pre-installed in the Skills Network Labs environment. However, you need libraries like pyspark and findspark to connect to this cluster.

If you wish to download this jupyter notebook and run on your local computer, follow the instructions mentioned <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-BD0231EN-Coursera/labs/Connecting_to_spark_cluster_using_Skills_Network_labs.ipynb">here.</a>

The following required libraries are __not__ pre-installed in the Skills Network Labs environment. __You will need to run the following cell__ to install them:

In [ ]:
!pip install pyspark==3.1.2 -q
!pip install findspark -q

### Importing Required Libraries

_We recommend you import all required libraries in one place (here):_

In [ ]:
# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

# FindSpark simplifies the process of using Apache Spark with Python

import findspark
findspark.init()

#import functions/Classes for sparkml

from pyspark.sql import SparkSession

# Examples

## Task 1 - Create a spark session

In [ ]:
#Create SparkSession
#Ignore any warnings by SparkSession command

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

## Task 2 - Load csv file into a dataframe

Download the data file

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/mpg.csv

Load the dataset into the spark dataframe

In [ ]:
# Load mpg dataset
mpg_data = spark.read.csv("mpg.csv", header=True, inferSchema=True)

## Task 3 - Create a temporary view

Create a temporary view of the DataFrame named mileage

In [ ]:

mpg_data.createOrReplaceTempView("mileage")

## Task 4 - Run a SQL query on the dataframe

Select all cars whose mileage is more than 40

In [ ]:
results = spark.sql("SELECT * FROM mileage WHERE MPG > 40")

In [ ]:
# show the results
results.show()

## Task 5 - Analyze the dataset

List all the unique Origins

In [ ]:
spark.sql("SELECT distinct Origin FROM mileage").show()

Show the count of Japanese cars

In [ ]:
spark.sql("SELECT count(*) FROM mileage where Origin ='Japanese' ").show()

Count the number of cars with mileage greater than 40

In [ ]:
spark.sql("SELECT count(*) FROM mileage where MPG > 40").show()

List the number of cars made in different Years

In [ ]:
spark.sql("SELECT Year, count(Year) FROM mileage group by Year").show()

Print the maximum MPG

In [ ]:
spark.sql("SELECT max(MPG) FROM mileage").show()

Stop Spark Session

In [ ]:
spark.stop()

# Exercises

### Exercise 1 - Create a spark session

Create a spark session with appname "SparkSQL Exercise"

In [ ]:
spark = SparkSession.builder.appName("SparkSQL Exercise").getOrCreate()

<details>
    <summary>Click here for a Hint</summary>
    
use the SparkSession.builder 
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark = SparkSession.builder.appName("SparkSQL Exercise").getOrCreate()
```

</details>

### Exercise 2 - Load csv file into a dataframe

Download the data file

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0231EN-SkillsNetwork/datasets/diamonds.csv

Load the diamonds dataset into the spark dataframe

In [ ]:

diamond_data = #TODO

<details>
    <summary>Click here for a Hint</summary>
    
use the read.csv function</details>

<details>
    <summary>Click here for Solution</summary>

```
diamond_data = spark.read.csv("diamonds.csv", header=True, inferSchema=True)

```

</details>

### Exercise 3 - Create a temporary view

Create a temporary view of the DataFrame named diamonds

In [ ]:

#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the createOrReplaceTempView method on the dataframe
</details>

<details>
    <summary>Click here for Solution</summary>

```
diamond_data.createOrReplaceTempView("diamonds")

```

</details>

### Exercise 4 - Run a SQL query on the dataframe

Select all rows

In [ ]:
results = #TODO
results.show()

<details>
    <summary>Click here for a Hint</summary>
    
use the select statement on diamonds view
</details>

<details>
    <summary>Click here for Solution</summary>

```
results = spark.sql("SELECT * FROM diamonds")
results.show()
```

</details>

### Exercise 5 - Analyze the dataset

List all the unique Cuts

In [ ]:
#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the select with distinct on cut column
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark.sql("SELECT distinct cut FROM diamonds").show()
```

</details>

Show the count of Premium Cut diamonds

In [ ]:
#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the count function with a where clause
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark.sql("SELECT count(*) FROM diamonds where cut ='Premium' ").show()
```

</details>

Count the number of diamonds with table size greater than 65

In [ ]:
#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the count function with a where clause
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark.sql("SELECT count(*) FROM diamonds where table > 65").show()
```

</details>

List the number of diamonds under each color

In [ ]:
#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the count function on color column with a groupby on color
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark.sql("SELECT color, count(color) FROM diamonds group by color").show()
```

</details>

Print the maximum price

In [ ]:
#your code goes here

<details>
    <summary>Click here for a Hint</summary>
    
use the max function on price column
</details>

<details>
    <summary>Click here for Solution</summary>

```
spark.sql("SELECT max(price) FROM diamonds").show()
```

</details>

Stop Spark Session

In [ ]:
spark.stop()

Congratulations you have completed this lab.<br>

## Authors

[Ramesh Sannareddy](https://www.linkedin.com/in/rsannareddy/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMBD0231ENSkillsNetwork866-2023-01-01)

### Other Contributors

Copyright © 2023 IBM Corporation. All rights reserved.

<!--
## Change Log
-->

<!--
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-05-04|0.1|Ramesh Sannareddy|Initial Version Created|
-->